language: java
jdk:
- openjdk8
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
deploy:
- provider: script
  script: "./gradlew bintrayUpload"
  skip_cleanup: true
  
env:
  global:
  - secure: BsSREqNyCTZbvTzsLtNghyjY/sfPGfeymgNoTzpXht7fe/FrRZi47RxnIPmszVLExEoZIo+8CiyJwlWUJ7UuXoNwqldXKiUi6cSiI24SWM42n7XgiTO72eH1U1WmqEQ9wVOTktALnHyzofZyZrWKhslhSMb3+Qcc7yOF+ZGEu3wU/uHvfaWO2UBdobK6PbkvED6MZZ2rmP5wL9kr4NMWOOcdtPAl0ZDDGTE3vehvai1uDcdXfJlBJ6aeCI3sPVFCpvzP2U+YMrnIgsNzFNyRYrdNgEOw6vJtjsogHGaRp6/AS48gJLe+E6BH7h/kOs5M7MbvBjpek/Jawj+e57lPSmtaYRuKANqF/8SXm77PSw7f8+hzScv0CsVVFt14cP42dCUOOcgWpYk0u4Z8mPWPbCjkryS1KCgPgzBQ6xb8/SDc6YsdZeyxF9Vlse9ZUC0s2vrSnXzoWb/YTnKfuAzxNoYvV92Azai7jfyx8s3Tqqg9we3j00ggOfOrLeLVbh0XUdeOsqZEee5L+CZuBDRQOwEys/Pvbm17lYW08t2zyTYjYIAbyCL/wr2ZvwwNzz7vcvtcdkR4HwPTPHa6O80KgGKbzKNERzAB9fL4bhZfHdUc82puhfUStBwtzbwNMZC7hl3B4/muzZV5Vig2foh3tO65TcY/EJTkeZch7MJ4LOU=
  - secure: qgxx1oXT5Hqa7RvLwmq0pVXvrClGVQS8nQQEhippS+8ZwXftZfwoIWGCqerNCmQ3KpVpxjwg0NMQtgY/uOIjSsy/b6vo05BcxBTnzlg1yw3QrLmgW4lSRh8BVGYu/ENzzfRo9hG3LJWKSCEWCal4AwVuXjI1Zp2uURJXzJfRMpbSgXuAfV9qte8g6c++3g4Qtk+7Yq1MapBY2cEO8fLB2l0Ocx2mB7GF7wGC+lvcUTMrgSLWuu1GRPNVfE+PvtsZ1aU6alA+9nFDN95+Xj5ZmYuX5iMt5j3EePcl+YFOXgg95/Q0YCkcyp0jRo3ncvAOLfnpR/yoPmj8DhyAitNiV8W9GwzuoGe7Orey+HRt5dVdYA0pfd5yiwbqKhTB0WXWlQ4PUkMq+dz9pHEkoi1udlcV3Vi0ZXmYsX00IcAkxb371pOsNm2hfKR/QuqcTfNrNjdM8OTx8fwl4hkRCrUfx8VQ8q/OSJJLuwKc7aHQJPbtcLIY8qqj9uNl9If2X+LQ6ueaCreqtVxQNi3WXuoipKnQez5JtElsGCsztUmYYlt5b8d7KhPMsT2UtbXrwp1fm7z58SImVyJRkCNd2UkGwb/kwxL1ai3Hzth2fR684AAFopoQnXwhl3LWWWAGpXBElUa67wLGwUhalbboytAbxLkGHFOPh8ic0o+/69ET59E=
