name: cmc-ccd-domain pipeline

variables:
  repository: cmc/ccd-definition-importer
  acrName: hmctspublic
  acrResourceGroup: rpe-acr-prod-rg
  imageTag: TEST

trigger:
  branches:
    include:
    - refs/tags/*
pr:
  branches:
    include:
    - master
    
jobs:
- job: Test
  pool:
    vmImage: 'Ubuntu 16.04'
  steps:
  - script: |
      ls ./definition
      CCD_DEF_CLAIM_STORE_BASE_URL=http://localhost
      docker build -f definition/Dockerfile -t test-image .
      docker run --rm test-image sh -c "cd /opt/ccd-definition-processor && yarn json2xlsx -D /data/sheets -o /cmc-ccd.xlsx"
    displayName: 'test'

- job: Release
  # Make sure we have a tag to run this job
  condition: >
    and(
        succeeded(),
        startsWith(variables['Build.SourceBranch'], 'refs/tags/')
      )
  dependsOn: Test
  pool:
    vmImage: 'Ubuntu 16.04'
  steps:
  # - script: |
  #     echo '##vso[task.setvariable variable=imageTag]pr-$(System.PullRequest.PullRequestNumber)'
  #   displayName: 'Set Image Tag: Pull Request'
  #   condition: eq(variables['Build.Reason'], 'PullRequest')
  - script: |
        az acr build -r $(acrName) -t $(repository):$(imageTag) -g $(acrResourceGroup) -f definition/Dockerfile .
    displayName: 'ACR Build'
